# Django Settings
SECRET_KEY=ANY_RANDOM_STRING_IS_OKAY_FOR_DEVELOPMENT

# OpenAI
OPENAI_API_KEY=

# Tavily
TAVILY_API_KEY=

# Research models
DEEP_RESEARCH_MODEL=gpt-5-mini-2025-08-07
QUICK_RESEARCH_MODEL=gpt-5-mini-2025-08-07
